li {list-style-type: none;}

a { color: rgb(139, 203, 199)}

a:hover{color: rgb(79, 102, 160);}

body {
    background-color: rgb(0, 0, 0);
    color: rgb(139, 203, 199);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;list-style-type: none;
}

